{% extends 'core/base.html' %}

{% load static %}

{% block title %}{{ product.name }} {% endblock %}

{% block content %}
<div class="grid grid-cols-3 gap-2 mt-3">

    <div class="col-span-1 row-span-3">
        <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    {% for image in images %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
                    {% endfor %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ images|length }}" aria-label="Additional Slide"></button>
                </div>
    
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ product.thumbnail.url }}" class="d-block w-100 rounded-xl" alt="...">
                    </div>
                    {% for image in images %}
                    <div class="carousel-item">
                        <img src="{{ image.image.url }}" alt="Product Image" class="d-block w-100 rounded-xl" alt="...">
                    </div>
                    {% endfor %}
                </div>
    
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
    
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            
    </div>

    <div class="col-span-2 row-span-1">
        <h1 class="mb-6 text-6xl font-serif">{{ product.name }}</h1>
        <div class="text-2xl flex">
            <div class="rating">
                <!-- {% if product.average_rating >= 5 %}
                <span class="star filled">&#9733;</span>
                <span class="star filled">&#9733;</span>
                <span class="star filled">&#9733;</span>
                <span class="star filled">&#9733;</span>
                <span class="star filled">&#9733;</span>
                {% endif %} -->
                <!-- {% if product.average_rating is null %}
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                {% endif %} -->
                {% if product.average_rating >= 1 %}
                <span class="star filled">&#9733;</span>
                {% else %}
                <span class="star">&#9733;</span>
                {% endif %}
                {% if product.average_rating >= 2 %}
                <span class="star filled">&#9733;</span>
                {% elif product.average_rating >= 1.5 %}
                <span class="star half-filled">&#9733;</span>
                {% else %}
                <span class="star">&#9733;</span>
                {% endif %}
                {% if product.average_rating >= 3 %}
                <span class="star filled">&#9733;</span>
                {% elif product.average_rating >= 2.5 %}
                <span class="star half-filled">&#9733;</span>
                {% else %}
                <span class="star">&#9733;</span>
                {% endif %}
                {% if product.average_rating >= 4 %}
                <span class="star filled">&#9733;</span>
                {% elif product.average_rating >= 3.5 %}
                <span class="star half-filled">&#9733;</span>
                {% else %}
                <span class="star">&#9733;</span>
                {% endif %}
                {% if product.average_rating >= 5 %}
                <span class="star filled">&#9733;</span>
                {% elif product.average_rating >= 4.5 %}
                <span class="star half-filled">&#9733;</span>
                {% else %}
                <span class="star">&#9733;</span>
                {% endif %}
            </div>
              
            <!-- <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
            
            <input type="number" min="1" max="5" step="0.5" id="ratingInput" onchange="updateRating(this.value)"> -->
            <p>({{ product.average_rating|floatformat:1 }})</p>
            <p class="ml-6">{{ reviews.count }} ratings</p>
            <p class="ml-6">{{ product.sold }} sold</p>
        </div>
        <p class="text-yellow-500 text-4xl mt-3">$ {{ product.price|floatformat:2 }}</p>
        <!--<h1 class="mb-6 text-3xl">{{ product.review }}</h1>
        <h1 class="mb-6 text-3xl">{{ product.rating }}</h1>
        <h1 class="mb-6 text-3xl">{{ product.numbersold }}</h1>-->
    </div>
    {% if request.user == product.created_by %}
    <div class="col-span-2 row-span-1">
            <div class="mt-6 bg white rounded-xl">
                <p class="text-2xl">This is your product!</p>
                <a href="{% url 'product:edit' product.id %}" class="inline-block text-lg font-semibold bg-yellow-500 px-12 py-2 text-white rounded-xl">Edit</a>
                <a href="{% url 'product:delete' product.id %}" class="inline-block text-lg font-semibold bg-red-500 px-12 py-2 text-white rounded-xl">Delete</a>
            </div>  
    </div>
    {% endif%}

    <div class="col-span-2 row-span-1">
        <div class="mt-6 mb-3 text-3xl">
            Variations
            {% if request.user == product.created_by %}
            <a href="{% url 'product:add_variation' product.id %}" class="inline-block text-lg font-semibold bg-green-500 px-12 py-2 text-white rounded-xl ml-3">Add Variation</a>
            {% endif %}
        </div>
        <div class="bg-primary-light rounded-xl p-4">
            
            <form method="POST" action="{% url 'checkout:add_to_cart' product.id %}">
                {% csrf_token %}
                
                {% for variation in variations %}
                  <div class="mb-3 text-2xl font-semibold">
                    {{ variation.type }}
                    <div class="text-lg">
                      {% for subvariation in variation.subvariations.all %}
                        <input type="radio" class="btn-check" name="variation_{{ variation.id }}" value="{{ subvariation.id }}" id="option{{ variation.id }}_{{ subvariation.id }}" autocomplete="off">
                        <label class="btn btn-default font-semibold" for="option{{ variation.id }}_{{ subvariation.id }}">{{ subvariation.option }}</label>
                        {% if request.user == product.created_by %}
                          <a href="{% url 'product:change_subvariation' subvariation.id product.id %}" class="text-yellow-500 underline">edit</a>
                          <a href="{% url 'product:delete_subvariation' subvariation.id product.id %}" class="text-red-500 underline">remove</a>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                  {% if request.user == product.created_by %}
                    <a href="{% url 'product:add_subvariation' variation.id product.id %}" class="text-lg text-green-500 underline">Add Option</a>
                    <a href="{% url 'product:delete_variation' variation.id product.id %}" class="text-red-500 underline text-lg">Delete Variation</a>
                  {% endif %}
                {% endfor %}
                {% if request.user != product.created_by %}
                <p class="text-2xl font-semibold mb-3">Quantity</p>
                <div class="flex text-xl">
                  <div class="btn btn-default ml-3 mr-3" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                  <input class="rounded-xl text-center" id="number" type="number" name="quantity" value="1" />
                  <div class="btn btn-default value-button ml-3 mr-3" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
                </div>
                
                <script src="{% static 'script.js' %}"></script>
                
                
                  <button type="submit" class="text-xl bt-nushoptertiary-2 rounded-xl text-center">Add to Cart</button>
                {% endif %}
            </form>
              
              
              
              
              
        </div>

    </div>
</div>

{% if request.user != product.created_by %}
<div class="mt-6 px-3 py-6 border-nushopprimary-3 rounded-xl">
    <div class="grid grid-cols-7 gap-3">
        <div class="w-full col-span-1 overflow-hidden center row-span-2">
            {% if seller.image %}
            <img src="{{ seller.image.url }}" alt="Seller Image" class="pfp">
            {% else %}
            <img src="{% static 'default.png' %}" class="pfp">
            {% endif %}
        </div>

        <div class="col-span-2">
            <h1 class="text-2xl font-semibold">{{ seller.name }}</h1>
            <p class="text-lg font-semibold">online now</p>
        </div>

        <div class="col-span-1">
            <p class="text-2xl">Average Ratings: </p>
        </div>

        <div class="col-span-1">
            <p class="text-2xl">{{ avgRating }}</p>
        </div>

        <div class="col-span-1">
            <p class="text-2xl">Listings: </p>
        </div>

        <div class="col-span-1">
            <p class="text-2xl">{{ seller.products.count }}</p>
        </div>

        <div class="col-span-1">
            <a href="{% url 'dashboard:view-seller' seller.username %}">
                <button class="text-xl bt-nushoptertiary-2 rounded-xl text-center">View Shop</button>
            </a>
        </div>

        <div class="col-span-1">
            <a href="{% url 'chat:new' product.id %}">
                <button class="text-xl bt-nushoptertiary-1 rounded-xl text-center">Chat with Seller</button>
            </a>
        </div>
        
        <div class="col-span-1">
            <p class="text-2xl">Number of Ratings: </p>
        </div>

        <div class="col-span-1">
            <p class="text-2xl">{{ numRating }}</p>
        </div>

        <div class="col-span-1">
            <p class="text-2xl">Followers: </p>
        </div>

        <div class="col-span-1">
            <p class="text-2xl">{{ seller.followers.count }} </p>
        </div>
    </div>
</div>
{% endif %}        

<nav id="navbar-example2" class="navbar mb-3 rounded-lg mt-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link text-gray-500 hover:text-yellow-500" href="#description">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-gray-500 hover:text-yellow-500" href="#review">Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-gray-500 hover:text-yellow-500" href="#images">Images</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-gray-500 hover:text-yellow-500" href="#recommended">Recommended</a>
      </li>
    </ul>
</nav>

<div id="description" class="mt-6 mb-3 text-3xl">
    Description
    {% if request.user == product.created_by %}
    <p class="text-xl">(Edit the descriptions with the edit button above)</p>
    {% endif %}
</div>
<div class="bg-primary-light rounded-lg p-4">
    {% if product.description %}
        <p class="text-black text-xl">
            {{ product.description}}
        </p>
    {% else %}
    <p class="text-black text-xl">
        This product does not have a description.
    </p>
    {% endif %}
</div>
<div id="review"></div>
<div class="mt-6 mb-3 text-3xl">
    Reviews
    <a href="{% url 'product:add_review' product.id %}" class="inline-block text-lg font-semibold bg-green-500 px-12 py-2 text-white rounded-xl ml-3">Add Review</a>
</div>
<div class="bg-primary-light rounded-lg p-4">
    {% if reviews %}
    {% for review in reviews %}
    <div class="grid grid-cols-5 gap-3 mb-3">
        <div class="col-span-1">
            {% if review.created_by.image %}
            <img src="{{ review.created_by.image.url }}" alt="User Image" class="pfp">
            {% else %}
            <img src="{% static 'default.png' %}" class="pfp">
            {% endif %}
            <p class="text-2xl">{{ review.created_by.name }}</p>
            <div class="rating">
                <span class="star" onclick="updateRating(1)" {% if review.rating >= 1 %}style="color: gold;"{% endif %}>&#9733;</span>
                <span class="star" onclick="updateRating(2)" {% if review.rating >= 2 %}style="color: gold;"{% endif %}>&#9733;</span>
                <span class="star" onclick="updateRating(3)" {% if review.rating >= 3 %}style="color: gold;"{% endif %}>&#9733;</span>
                <span class="star" onclick="updateRating(4)" {% if review.rating >= 4 %}style="color: gold;"{% endif %}>&#9733;</span>
                <span class="star" onclick="updateRating(5)" {% if review.rating >= 5 %}style="color: gold;"{% endif %}>&#9733;</span>
            </div>
            <p>{{ review.created_at }}</p>
            <p>Variation: XS, Delivery</p>
            {% if request.user == review.created_by %}
                <!-- <a href="#" class="text-lg text-yellow-500 underline">Edit</a> -->
                <a href="{% url 'product:delete_review' review.id product.id %}" class="text-red-500 underline text-lg">Delete</a>
            {% endif %}
        </div>

        <div class="col-span-4 text-xl">
            <p>{{ review.description }}</p>
            <div class="d-flex flex-row flex-nowrap container-fluid scroll">
                {% if review.image1 %}
                <div class="modal fade" id="1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="{{ review.image1.url }}" class="rounded-xl h-full w-full">
                            </div>
                            <div class="modal-footer">
                                {% if request.user == image_variable.uploaded_by %}
                                    <a href="{% url 'product:change_image' image_variable.id product.id %}" class="inline-block text-lg font-semibold bg-yellow-500 px-12 py-2 text-white rounded-xl">Change Image</a>
                                    <a href="{% url 'product:delete_image' image_variable.id product.id %}" class="inline-block text-lg font-semibold bg-red-500 px-12 py-2 text-white rounded-xl">Delete</a>
                                {% endif %}
                                <button type="button" class="btn btn-secondary text-yellow-500 border-yellow-500" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mr-4">
                    <div class="product-pic" data-bs-toggle="modal" data-bs-target="#1">
                        <img src="{{ review.image1.url }}" alt="Product Image" class="rounded-xl h-full w-full">
                    </div>
                </div>
                {% endif %}
    
                {% if review.image2 %}
                <div class="modal fade" id="2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="{{ review.image2.url }}" class="rounded-xl h-full w-full">
                            </div>
                            <div class="modal-footer">
                                {% if request.user == image_variable.uploaded_by %}
                                    <a href="{% url 'product:change_image' image_variable.id product.id %}" class="inline-block text-lg font-semibold bg-yellow-500 px-12 py-2 text-white rounded-xl">Change Image</a>
                                    <a href="{% url 'product:delete_image' image_variable.id product.id %}" class="inline-block text-lg font-semibold bg-red-500 px-12 py-2 text-white rounded-xl">Delete</a>
                                {% endif %}
                                <button type="button" class="btn btn-secondary text-yellow-500 border-yellow-500" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mr-4">
                    <div class="product-pic" data-bs-toggle="modal" data-bs-target="#2">
                        <img src="{{ review.image2.url }}" alt="Product Image" class="rounded-xl h-full w-full">
                    </div>
                </div>
                {% endif %}
    
                {% if review.image3 %}
                <div class="modal fade" id="3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="{{ review.image3.url }}" class="rounded-xl h-full w-full">
                            </div>
                            <div class="modal-footer">
                                {% if request.user == image_variable.uploaded_by %}
                                    <a href="{% url 'product:change_image' image_variable.id product.id %}" class="inline-block text-lg font-semibold bg-yellow-500 px-12 py-2 text-white rounded-xl">Change Image</a>
                                    <a href="{% url 'product:delete_image' image_variable.id product.id %}" class="inline-block text-lg font-semibold bg-red-500 px-12 py-2 text-white rounded-xl">Delete</a>
                                {% endif %}
                                <button type="button" class="btn btn-secondary text-yellow-500 border-yellow-500" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mr-4">
                    <div class="product-pic" data-bs-toggle="modal" data-bs-target="#3">
                        <img src="{{ review.image3.url }}" alt="Product Image" class="rounded-xl h-full w-full">
                    </div>
                </div>
                {% endif %}
    
                {% if review.image4 %}
                <div class="modal fade" id="4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="{{ review.image4.url }}" class="rounded-xl h-full w-full">
                            </div>
                            <div class="modal-footer">
                                {% if request.user == image_variable.uploaded_by %}
                                    <a href="{% url 'product:change_image' image_variable.id product.id %}" class="inline-block text-lg font-semibold bg-yellow-500 px-12 py-2 text-white rounded-xl">Change Image</a>
                                    <a href="{% url 'product:delete_image' image_variable.id product.id %}" class="inline-block text-lg font-semibold bg-red-500 px-12 py-2 text-white rounded-xl">Delete</a>
                                {% endif %}
                                <button type="button" class="btn btn-secondary text-yellow-500 border-yellow-500" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mr-4">
                    <div class="product-pic" data-bs-toggle="modal" data-bs-target="#4">
                        <img src="{{ review.image4.url }}" alt="Product Image" class="rounded-xl h-full w-full">
                    </div>
                </div>
                {% endif %}
    
                {% if review.image5 %}
                <div class="modal fade" id="5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="{{ review.image5.url }}" class="rounded-xl h-full w-full">
                            </div>
                            <div class="modal-footer">
                                {% if request.user == image_variable.uploaded_by %}
                                    <a href="{% url 'product:change_image' image_variable.id product.id %}" class="inline-block text-lg font-semibold bg-yellow-500 px-12 py-2 text-white rounded-xl">Change Image</a>
                                    <a href="{% url 'product:delete_image' image_variable.id product.id %}" class="inline-block text-lg font-semibold bg-red-500 px-12 py-2 text-white rounded-xl">Delete</a>
                                {% endif %}
                                <button type="button" class="btn btn-secondary text-yellow-500 border-yellow-500" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mr-4">
                    <div class="product-pic" data-bs-toggle="modal" data-bs-target="#5">
                        <img src="{{ review.image5.url }}" alt="Product Image" class="rounded-xl h-full w-full">
                    </div>
                </div>
                {% endif %}
    
            </div>
        </div>
                       
        

    </div>
    {% endfor %}
    {% else %}
        <p class="text-black text-xl">
            This product does not have any review.
        </p>
    {% endif %}

</div>


<div id="images"></div>
<div class="mt-6 mb-3 text-3xl">
    Images
    {% if request.user == product.created_by %}
    <a href="{% url 'product:add_image' product.id %}" class="inline-block text-lg font-semibold bg-green-500 px-12 py-2 text-white rounded-xl ml-3">Add Image</a>
    <p class="text-xl">(Manage a specific image by clicking on it)</p>
    {% endif %}
</div>

<div class="px-6 pb-3 container-fluid scroll">
    <div class="d-flex flex-row flex-nowrap">
        
        <!-- Modal -->
        <div class="modal fade" id="thumbnail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{ product.thumbnail.url }}" class="rounded-xl h-full w-full">
                </div>
                <div class="modal-footer">
                    <p class="text-xl">You can only change the thumbnail via the edit button above</p>
                    <button type="button" class="btn btn-secondary text-yellow-500 border-yellow-500" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>

        <div class="col mr-4">
            <div class="product-pic" data-bs-toggle="modal" data-bs-target="#thumbnail">
                <img src="{{ product.thumbnail.url }}" class="rounded-xl h-full w-full">
            </div>
        </div>
        
        {% for image in images %}
        <div class="modal fade" id="{{ image.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{ image.image.url }}" class="rounded-xl h-full w-full">
                </div>
                <div class="modal-footer">
                    {% if request.user == image.uploaded_by %}
                    <a href="{% url 'product:change_image' image.id product.id %}" class="inline-block text-lg font-semibold bg-yellow-500 px-12 py-2 text-white rounded-xl">Change Image</a>
                    <a href="{% url 'product:delete_image' image.id product.id %}" class="inline-block text-lg font-semibold bg-red-500 px-12 py-2 text-white rounded-xl">Delete</a>

                    {% endif %}
                    <button type="button" class="btn btn-secondary text-yellow-500 border-yellow-500" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        <div class="col mr-4">
            <div class="product-pic" data-bs-toggle="modal" data-bs-target="#{{ image.id }}">
                <img src="{{ image.image.url }}" alt="Product Image" class="rounded-xl h-full w-full">
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div id="recommended"></div>
<div class="mt-9 mb-6 text-3xl">
    Recommended
</div>
<div class="px-6 pb-3 container-fluid scroll">
    <div class="d-flex flex-row flex-nowrap">
        {% for product in related_products %}
        <div class="col mr-4">
            <div class="card rounded-xl border-0">
                <a href="{% url 'product:detail' product.id %}">
                    <div class="product-pic">
                        <img src="{{ product.thumbnail.url }}" class="rounded-t-xl h-full w-full object-cover object-center">
                    </div>
        
                    <div class="px-4 product-desc rounded-b-xl bg-nushopsecondary">
                        <span class="product-name mt-2 font-semibold card-title">{{ product.name }}</span>
                        <p class="mt-4 mb-4 text-xl font-medium card-text text-nushoptertiary">${{ product.price|floatformat:2 }}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}