{% extends 'core/base.html' %}

{% load static %}

{% block title %}{{ product.name }} {% endblock %}

{% block content %}
<div class="grid grid-cols-7 grid-rows-2 gap-2 mt-3">
    <div class="col-span-3 row-span-3">
        <img src="{{ product.image.url }}" class="rounded-xl img-size">
        
    </div>

    <div class="col-span-4 row-span-1">
        <h1 class="mb-6 text-3xl">{{ product.name }}</h1>
        <div class="text-xl">
            <p>Review</p>
            <p>Rating</p>
            <p>Number Sold</p>
        </div>
        <!--<h1 class="mb-6 text-3xl">{{ product.review }}</h1>
        <h1 class="mb-6 text-3xl">{{ product.rating }}</h1>
        <h1 class="mb-6 text-3xl">{{ product.numbersold }}</h1>-->
    </div>
    
    <div class="col-span-4 row-span-1">
        <p class="text-yellow-500 text-3xl">$ {{ product.price }}</p>
        <!--<p class="text-gray-500"><strong>Seller: </strong>{{ product.created_by.username }}</p>-->

        {% if request.user == product.created_by %}
            <div class="mt-6 p-6 bg white rounded-xl">
                <p>This is your product!</p>
                <a href="{% url 'product:edit' product.id %}" class="inline-block text-lg font-semibold bg-yellow-500 px-12 py-2 text-white rounded-xl">Edit</a>
                <a href="{% url 'product:delete' product.id %}" class="inline-block text-lg font-semibold bg-red-500 px-12 py-2 text-white rounded-xl">Delete</a>
            </div>
        {% else %}
            <a href="{% url 'chat:new' product.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white hover:bg-teal-700 rounded-xl">Contact Seller</a>
        {% endif%}
    </div>

    <div class="col-span-4 row-span-2">
        <div class="text-3xl">
            <p>Variations</p>
        </div>
        <div class="bg-primary-light rounded-xl p-4">
            <p>Size</p>
            <p>Delivery Method</p>
            <p>Quantity</p>
            <div class="mt-4">
            <a href="{% url 'cart:add_to_cart' product.id %}" class="mt-2 px-6 text-xl bt-nushoptertiary-2 rounded-xl text-center">Add to Cart</a>
            <a href="#" class="mt-2 px-6 text-xl bt-nushoptertiary-1 rounded-xl text-center">Buy</a>
            </div>
        </div>        
    </div>
    
    <div class="col-span-3 row-span-1 container-fluid scroll d-flex flex-row ">
        <div class="mx-2 col">
            <img src="{{ product.image.url }}" class="rounded-xl">
        </div>
        <div class="mx-2 col">
            <img src="{{ product.image.url }}" class="rounded-xl">
        </div>
        <div class="mx-2 col">
            <img src="{{ product.image.url }}" class="rounded-xl">
        </div>
        <div class="mx-2 col">
            <img src="{{ product.image.url }}" class="rounded-xl">
        </div>
        
    </div>
</div>

<div class="mt-6 px-3 py-6 border-nushopprimary rounded-xl">
    <div class="grid grid-cols-7">
        <div class="w-full col-span-1 overflow-hidden center">
            <img src="{% static 'green logo.png' %}" class="pfp">
        </div>

        <div class="col-span-2">
            <div class="grid grid-rows-3">
                <div class="row-span-1">
                    <h1><strong>NUS Computing Club</strong></h1>
                </div>
                <div class="row-span-1">
                    <h1>online now</h1>
                </div>
                <div class="row-span-1">
                    <div class="grid grid-cols-2">
                        <div class="col-span-1">
                            <button class="mt-2 text-xl bt-nushoptertiary-2 rounded-xl text-center">View Shop</button>
                        </div>
                        <div class="col-span-1">
                            <a href="{% url 'chat:new' product.id %}" class="mt-2 px-6 text-xl bt-nushoptertiary-1 rounded-xl text-center">Chat with Seller</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

        <div class="col-span-1">
            <ul>
                <li class="text-xl font-semibold ml-12 mb-12 mt-4">Listings</li>
                <li class="text-xl font-semibold ml-12 mb-4 mt-10">Followers</li>
            </ul>
        </div>

        <div class="col-span-1">
            <ul>
                <li class="text-xl font-semibold mr-12 mb-12 mt-4 text-right">20</li>
                <li class="text-xl font-semibold mr-12 mb-4 mt-10 text-right">555</li>
            </ul>
        </div>

        <div class="col-span-1">
            <ul>
                <li class="text-xl font-semibold ml-12 mb-12 mt-4">Ratings</li>
                <li class="text-xl font-semibold ml-12 mb-4 mt-10">Response Rate</li>
            </ul>
        </div>

        <div class="col-span-1">
            <ul>
                <li class="text-xl font-semibold mr-12 mb-12 mt-4 text-right">4.8</li>
                <li class="text-xl font-semibold mr-12 mb-4 mt-10 text-right">98%</li>
            </ul>
        </div>
    </div>
</div>

<div class="mt-6 mb-3 text-3xl">
    Description
</div>
<div class="bg-primary-light rounded-lg p-4">
    {% if product.description %}
        <p class="text-black">
            {{ product.description}}
        </p>
    {% else %}
    <p class="text-black">
        This Product does not have a Description
    </p>
    {% endif %}
</div>

<div class="mt-6 mb-3 text-3xl">
    Review
</div>
<div class="bg-primary-light rounded-lg p-4">
    <p>good</p>
</div>

<div class="mt-6 mb-3 text-3xl">
    Recommended
</div>
<div class="px-6 py-3 rounded-xl">
        {% for product in related_products %}
            <div class="col mr-4">
                <div class="card rounded-xl border-0">
                    <a href="{% url 'product:detail' product.id %}">
                        <div class="product-pic">
                            <img src="{{ product.image.url }}" class="rounded-t-xl h-full w-full object-cover object-center">
                        </div>
            
                        <div class="px-4 product-desc rounded-b-xl bg-nushopsecondary">
                            <span class="product-name mt-2 font-semibold card-title">{{ product.name }}</span>
                            <p class="mt-4 mb-4 text-xl font-medium card-text text-nushoptertiary">${{ product.price }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
</div>

{% endblock %}