{% extends 'core/base.html' %}

{% load static %}

{% block title %}{{ product.name }} {% endblock %}

{% block content %}
<div class="grid grid-cols-3 gap-2 mt-3">
    <div class="col-span-1 row-span-4">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{ product.image.url }}" class="d-block w-100 rounded-xl" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ product.image.url }}" class="d-block w-100 rounded-xl" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ product.image.url }}" class="d-block w-100 rounded-xl" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        
    </div>

    <div class="col-span-2 row-span-1">
        <h1 class="mb-6 text-3xl">{{ product.name }}</h1>
        <div class="text-xl">
            <p>*****20 ratings   553 sold</p>
        </div>
        <!--<h1 class="mb-6 text-3xl">{{ product.review }}</h1>
        <h1 class="mb-6 text-3xl">{{ product.rating }}</h1>
        <h1 class="mb-6 text-3xl">{{ product.numbersold }}</h1>-->
    </div>
    <div class="col-span-2 row-span-1">
        <p class="text-yellow-500 text-3xl">$ {{ product.price }}</p>
        <!--<p class="text-gray-500"><strong>Seller: </strong>{{ product.created_by.username }}</p>-->

        {% if request.user == product.created_by %}
            <div class="mt-6 p-6 bg white rounded-xl">
                <p>This is your product!</p>
                <a href="{% url 'product:edit' product.id %}" class="inline-block text-lg font-semibold bg-yellow-500 px-12 py-2 text-white rounded-xl">Edit</a>
                <a href="{% url 'product:delete' product.id %}" class="inline-block text-lg font-semibold bg-red-500 px-12 py-2 text-white rounded-xl">Delete</a>
            </div>
        {% else %}
            <a href="{% url 'chat:new' product.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white hover:bg-teal-700 rounded-xl">Contact Seller</a>
        {% endif%}
    </div>

    <div class="col-span-2 row-span-1">
        <div class="text-3xl">
            <p>Variations</p>
        </div>
        <div class="bg-primary-light rounded-xl p-4">
            <div class="btn-group dropend">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Size
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">S</a></li>
                    <li><a class="dropdown-item" href="#">M</a></li>
                    <li><a class="dropdown-item" href="#">L</a></li>
                    <li><a class="dropdown-item" href="#">XL</a></li>
                </ul>
            </div>
            <div class="btn-group dropend">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Delivery Method
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Meet Up</a></li>
                    <li><a class="dropdown-item" href="#">Delivery</a></li>
                </ul>
            </div>
            <p>Quantity</p>
            <div class="mt-4">
                <a href="{% url 'checkout:add_to_cart' product.id %}" class="mt-2 px-6 text-xl bt-nushoptertiary-2 rounded-xl text-center">Add to Cart</a>
                <a href="#" class="mt-2 px-6 text-xl bt-nushoptertiary-1 rounded-xl text-center">Buy</a>
            </div>
        </div>
    </div>
    <div class="col-span-2"></div>
    <!--
        <div class="col-span-1 row-span-1">
        <div class="pb-3 container-fluid scroll">
            <div class="d-flex flex-row flex-nowrap">
                <div class="col mr-4">
                    <div class="card rounded-xl border-0">
                        <div class="product-pic">
                            <img src="{{ product.image.url }}" class="rounded-xl h-full w-full object-cover object-center">
                        </div>
                    </div>
                </div>
                <div class="col mr-4">
                    <div class="card rounded-xl border-0">
                        <div class="product-pic">
                            <img src="{{ product.image.url }}" class="rounded-xl h-full w-full object-cover object-center">
                        </div>
                    </div>
                </div>
                <div class="col mr-4">
                    <div class="card rounded-xl border-0">
                        <div class="product-pic">
                            <img src="{{ product.image.url }}" class="rounded-xl h-full w-full object-cover object-center">
                        </div>
                    </div>
                </div>
                <div class="col mr-4">
                    <div class="card rounded-xl border-0">
                        <div class="product-pic">
                            <img src="{{ product.image.url }}" class="rounded-xl h-full w-full object-cover object-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
</div>


<div class="mt-6 px-3 py-6 border-nushopprimary-3 rounded-xl">
    <div class="grid grid-cols-7">
        <div class="w-full col-span-1 overflow-hidden center">
            {% if seller.image %}
            <img src="{{ seller.image.url }}" alt="Seller Image" class="pfp">
            {% else %}
            <img src="{% static 'green logo.png' %}" class="pfp">
            {% endif %}
        </div>

        <div class="col-span-2">

            <div class="grid grid-rows-3">
                <div class="row-span-1">
                    <h1 class="text-2xl">NUS Computing Club</h1>
                </div>
                <div class="row-span-1">
                    <h1>online now</h1>
                </div>
                <div class="row-span-1">
                    <div class="grid grid-cols-2">
                        <div class="col-span-1">
                            <a href="{% url 'dashboard:view-seller' seller.username %}" class="mt-2 px-4 text-xl bt-nushoptertiary-2 rounded-xl text-center">View Shop</a>
                        </div>
                        <div class="col-span-1">
                            <a href="{% url 'chat:new' product.id %}" class="mt-2 px-4 text-xl bt-nushoptertiary-1 rounded-xl text-center">Chat with Seller</a>                        
                        </div>
                    </div>
                </div>
            </ul>
        </div>

        <div class="col-span-1">
            <ul>
                <li class="text-xl font-semibold ml-12 mb-12 mt-4">Listings</li>
                <li class="text-xl font-semibold ml-12 mb-4 mt-10">Followers</li>
            </ul>
        </div>

        <div class="col-span-1">
            <ul>
                <li class="text-xl font-semibold mr-12 mb-12 mt-4 text-right">{{ seller_product.count }}</li>
                <li class="text-xl font-semibold mr-12 mb-4 mt-10 text-right">{{ seller.followers.count }}</li>
            </ul>
        </div>

        <div class="col-span-1">
            <ul>
                <li class="text-xl font-semibold ml-12 mb-12 mt-4">Ratings</li>
                <li class="text-xl font-semibold ml-12 mb-4 mt-10">Response Rate</li>
            </ul>
        </div>

        <div class="col-span-1">
            <ul>
                <li class="text-xl font-semibold mr-12 mb-12 mt-4 text-right">4.8</li>
                <li class="text-xl font-semibold mr-12 mb-4 mt-10 text-right">98%</li>
            </ul>
        </div>
    </div>
</div>

<nav id="navbar-example2" class="navbar mb-3 rounded-lg mt-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link text-gray-500 hover:text-yellow-500" href="#description">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-gray-500 hover:text-yellow-500" href="#review">Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-gray-500 hover:text-yellow-500" href="#recommended">Recommended</a>
      </li>
    </ul>
</nav>

<div id="description" class="mt-6 mb-3 text-3xl">
    Description
</div>
<div class="bg-primary-light rounded-lg p-4">
    {% if product.description %}
        <p class="text-black">
            {{ product.description}}
        </p>
    {% else %}
    <p class="text-black">
        This Product does not have a Description
    </p>
    {% endif %}
</div>
<div id="review"></div>
<div class="mt-6 mb-3 text-3xl">
    Review
</div>
<div class="bg-primary-light rounded-lg p-4">
    <p>good</p>
</div>
<div id="recommended"></div>
<div class="mt-6 mb-3 text-3xl">
    Recommended
</div>
<div class="px-6 py-3 rounded-xl">
        {% for product in related_products %}
            <div class="col mr-4">
                <div class="card rounded-xl border-0">
                    <a href="{% url 'product:detail' product.id %}">
                        <div class="product-pic">
                            <img src="{{ product.image.url }}" class="rounded-t-xl h-full w-full object-cover object-center">
                        </div>
            
                        <div class="px-4 product-desc rounded-b-xl bg-nushopsecondary">
                            <span class="product-name mt-2 font-semibold card-title">{{ product.name }}</span>
                            <p class="mt-4 mb-4 text-xl font-medium card-text text-nushoptertiary">${{ product.price }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
</div>

{% endblock %}