{% extends 'core/base.html' %}

{% block title %}Browse{% endblock %}

{% block content %}
    <div class="grid grid-cols-5 gap-4">
        <div class="col-span-1 vl">
            <form method="get" action="{% url 'product:products' %}" class="pt-4 pr-2">
                <input name="query" class="w-full py-3 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Search">

                <button class="mt-2 text-xl bg-nushopprimary bt-nushopprimary text-white rounded-xl text-center">Search</button>
            </form> 

            <hr class="my-6">

            <p class="text-sm font-semibold">Categories</p>

            <ul>
                {% for category in categories %}
                    <li class="py-2 px-2 text-sm rounded-xl{% if category.id == category_id %} bg-primary-light {% endif %}">
                        <a href="{% url 'product:products' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <ul class="pr-2">
                <li><a href="{% url 'product:products' %}" class="mt-2 inline-block bt-nushopsecondary text-xl rounded-xl text-center">Clear Filter</a>            
        </div>

        <div class="col-span-4 pt-4 pl-2">
            <h1 class="mb-12 text-3xl cinzel text-nushopprimary">
                {% if query %}
                    {% if category_id %}
                        {{ query }} in {{ category_name }}
                    {% else %}
                        {{ query }}
                    {% endif %}
                {% elif category_id %}
                    {{ category_name }}
                {% else %}
                    Featured
                {% endif %}
            </h1>
            <div class="grid grid-cols-4 gap-4 grid-parent">
                {% for product in products %}
                    <div class="col">
                        <div class="card rounded-xl border-0">
                            <a href="{% url 'product:detail' product.id %}">
                                <div class="product-pic">
                                    <img src="{{ product.thumbnail.url }}" class="rounded-t-xl h-full w-full object-cover object-center">
                                </div>
                    
                                <div class="px-4 product-desc rounded-b-xl bg-nushopsecondary">
                                    <span class="product-name mt-2 font-semibold card-title">{{ product.name }}</span>
                                    <p class="mt-4 mb-4 text-xl font-medium card-text text-nushoptertiary">${{ product.price }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
