{% extends 'core/base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <h1 class="my-3 text-3xl cinzel text-nushopprimary text-center">Checkout</h1>
    <div class="grid grid-cols-4 gap-4">     
        <div class="col-span-2">
            <div class="mt-6 px-6">
                <h1 class="text-3xl mb-3">Shipping Details</h1>
                {% comment %} Delivery Address Details {% endcomment %}
                {% if user.delivery_address and user.contact_number %}
    
                    <p class="text-gray-400">Full Name</p>
                    <p class="text-xl font-semibold">{{ user.delivery_address.name }}</p>
                    <p class="text-gray-400">Address</p>
                    <p class="text-xl font-semibold">{{ user.delivery_address.block_unitno }}</p>
                    <p class="text-xl font-semibold">{{ user.delivery_address.address_line1 }}</p>
                    <p class="text-xl font-semibold">{{ user.delivery_address.address_line2 }}</p>
                    <p class="text-xl font-semibold">{{ user.delivery_address.postcode }} Singapore</p>
                    <p class="text-gray-400">Contact Number</p>
                    <p class="text-xl font-semibold">{{ user.contact_number }}</p>
                    <p class="text-gray-400">Email</p>
                    <p class="text-xl font-semibold">{{ user.email }}</p>
                    <a href="{% url 'checkout:edit_shipping_details' %}">
                        <button class="text-xl bt-nushopsecondary rounded-xl text-center">Edit Delivery Details</button>
                    </a>
                    
                {% else %}
                    <p>No registered shipping address</p>
                    <a href="{% url 'checkout:add_shipping_details' %}">
                        <button class="text-xl bt-nushopsecondary rounded-xl text-center">Add Delivery Details</button>
                    </a>
                {% endif %}
            </div>

            <div class="mt-6 px-6">
                <h1 class="text-3xl mb-3">Payment Method</h1>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="width:95%;">
                    <option selected>Select payment method</option>
                    <option value="1">Card</option>
                    <!-- <option value="2">PayNow</option>
                    <option value="3">Cash</option>
                    <option value="4">NUShop Wallet</option> -->
                </select>  
                <form action="{% url 'checkout:create_checkout_session' 1 %}" method="POST">
                    {% csrf_token %}
                    <button class="text-xl bt-nushopprimary rounded-xl text-center">Complete Payment</button>
                </form>
                <!-- <a href="#">
                    <button class="text-xl bt-nushopprimary rounded-xl text-center">Proceed to Pay</button>
                </a> -->
            </div>
        </div>
        
        <div class="col-span-2 px-6">
            <h1 class="text-3xl mt-6">Your Orders</h1>
            <h1 class="text-3xl m-3">Total: $ {{ cart.total_price|floatformat:2 }}</h1>
            <div class="list">
                {% for product in products %}
                    <div class="p-3 rounded-xl">
                        <a href="{% url 'product:detail' product.product.id %}">
                            <div class="grid grid-cols-4 gap-2">
                                <div class="col-span-5 text-2xl">
                                    <h1>{{ product.product.created_by.name }}</h1>
                                </div>
                                <div class="col-span-1">
                                    <img src="{{ product.product.thumbnail.url }}" class="rounded-xl img-size">
                                </div>
                                <div class="col-span-4">
                                    <h2 class="text-2xl text-black">{{ product.product.name }}</h2>
                                    {% if product.variation %}
                                    <p class="text-black text-xl">{{ product.variation }}</p>
                                    {% endif %}
                                    <p class="text-xl">Quantity: {{ product.quantity }}</p>
                                    <p class="text-xl">Subtotal: $ {{ product.subtotal|floatformat:2 }}</p>
                                </div>    
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}