{% extends 'core/base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}

        <script src="https://js.stripe.com/v3/"></script>
        <form action="/charge" method="post" id="payment-form">
            <div class="form-row">
                <label for="card-element">
                    Credit or Debit Card
                </label>

            </div>
            {% csrf_token %}
            <button class="bt-nushopprimary" type="submit">Pay</button>
        </form>

{% endblock %}