{% extends 'core/base.html' %}

{% load static %}

{% block title %}
    About Us
{% endblock %}  

{% block content %}

<h1 class="text-3xl text-center mt-3 mb-3">About Us</h1>
<div class="text-xl">
    <p class="mb-3">
        Welcome to NUShop, the ultimate marketplace designed exclusively for the vibrant and talented student community of the National University of Singapore (NUS). We take great pride in being a common platform that consolidates sales from different clubs and societies, as well as secondhand item resellers, creating an inclusive marketplace that celebrates the unique skills and passions of our student body.
    </p>
    <p class="mb-3">
        Our primary objective is to provide a space where clubs and societies can showcase their offerings, gain exposure, and potentially increase their sales revenue. We firmly believe in the entrepreneurial spirit that thrives within our student community, and NUShop serves as a platform for clubs and societies to explore their business potential, develop valuable entrepreneurial skills, and contribute to their financial well-being.
    </p>
    <p class="mb-3">
        At NUShop, we understand the importance of sustainable consumption and the positive impact it has on our environment. That's why we have dedicated a special section within our multi-vendor app for secondhand sales. By promoting the buying and selling of pre-loved items, we encourage a culture of responsible and conscious consumerism. Through these efforts, we aim to reduce waste, promote recycling, and contribute to the overall environmental well-being of our student community.
    </p>
    <p class="mb-3">
        In addition to supporting the financial and environmental aspects, NUShop is a hub for creativity, innovation, and community spirit. We believe that every student possesses unique talents and passions, and we strive to provide a platform where these talents can shine. By bringing together a diverse range of products and services, we foster an environment that encourages collaboration, networking, and the exploration of new ideas.
    </p>
    <p class="mb-3">
        Our team of dedicated developers has worked tirelessly to create a seamless and secure shopping experience for you. We have implemented robust security measures to safeguard your personal information, ensuring that your transactions on NUShop are safe, reliable, and worry-free.
    </p>
    <p class="mb-3">
        We are committed to constantly improving and evolving NUShop to meet the changing needs of our student community. Your feedback is valuable to us, and we encourage you to share your thoughts, suggestions, and ideas as we continue to refine and enhance our platform.
    </p>
    <p class="mb-3">
        Thank you for joining us on this exciting journey of creativity, innovation, and community. Together, let's build a stronger, more connected, and thriving NUS student community through NUShop.
    </p> 
    <p class="mb-3">
        Happy shopping!
    </p> 
    <p class="mb-3">
        The NUShop Team
    </p>
</div>


{% endblock %}   