{% extends 'core/base.html' %}

{% load static %}

{% block title %}
    Welcome
{% endblock %}  

{% block content %}
    <div id="carouselExampleAutoplaying" class="carousel slide rounded-xl" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            {% for product in products %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}" data-bs-interval="3000">
                <img src="{{ product.image.url }}" class="d-block w-100" style="height:200px;">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="mt-3 px-6 py-6 rounded-xl">
        <div class="px-3 grid grid-cols-7 gap-5 grid-parent">
            <div class="grid-item">
                <a href="{% url 'product:products' %}?query=&category=1">
                    <div class="w-full overflow-hidden rounded-t-lg">
                        <img src="{% static 'club-merch.png' %}" alt="logo" class="rounded-xl h-full w-full object-cover object-center">
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="{% url 'product:products' %}?query=&category=2">
                    <div class="w-full overflow-hidden rounded-t-lg">
                        <img src="{% static 'elec-appl.png' %}" alt="logo" class="rounded-xl h-full w-full object-cover object-center">
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="{% url 'product:products' %}?query=&category=3">
                    <div class="w-full overflow-hidden rounded-t-lg">
                        <img src="{% static 'men-fashion.png' %}" alt="logo" class="rounded-xl h-full w-full object-cover object-center">
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="{% url 'product:products' %}?query=&category=4">
                    <div class="w-full overflow-hidden rounded-t-lg">
                        <img src="{% static 'women-fashion.png' %}" alt="logo" class="rounded-xl h-full w-full object-cover object-center">
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="{% url 'product:products' %}?query=&category=5">
                    <div class="w-full overflow-hidden rounded-t-lg">
                        <img src="{% static 'fng.png' %}" alt="logo" class="rounded-xl h-full w-full object-cover object-center">
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="{% url 'product:products' %}?query=&category=6">
                    <div class="w-full overflow-hidden rounded-t-lg">
                        <img src="{% static 'home-living.png' %}" alt="logo" class="rounded-xl h-full w-full object-cover object-center">
                    </div>
                </a>
            </div>
            <div class="grid-item">
                <a href="{% url 'product:products' %}?query=&category=7">
                    <div class="w-full overflow-hidden rounded-t-lg">
                        <img src="{% static 'bns.png' %}" alt="logo" class="rounded-xl h-full w-full object-cover object-center">
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="mt-3 px-6 py-6 rounded-xl">
        <h2 class="mb-3 text-2xl">Featured</h2>
        <div class="grid grid-cols-5 gap-3 grid-parent">
            {% for product in products %}
                <div class="grid-item">
                    <a href="{% url 'product:detail' product.id %}">
                        <div class="w-full overflow-hidden rounded-t-lg bg-gray-200">
                            <img src="{{ product.image.url }}" class="rounded-t-xl h-full w-full object-cover object-center">
                        </div>

                        <div class="px-4 rounded-b-xl">
                            <span class="product-name mt-2 font-semibold">{{ product.name }}</span>
                            <p class="mt-4 mb-4 text-xl font-medium text-nushoptertiary">${{ product.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mt-3 px-6 py-6 rounded-xl">
        <h2 class="mb-3 text-2xl">For You</h2>
        <div class="grid grid-cols-5 gap-3 grid-parent">
            {% for product in products %}
                <div class="grid-item">
                    <a href="{% url 'product:detail' product.id %}">
                        <div class="w-full overflow-hidden rounded-t-lg bg-gray-200">
                            <img src="{{ product.image.url }}" class="rounded-t-xl h-full w-full object-cover object-center">
                        </div>

                        <div class="px-4 rounded-b-xl">
                            <span class="product-name mt-2 font-semibold">{{ product.name }}</span>
                            <p class="mt-4 mb-4 text-xl font-medium text-nushoptertiary">${{ product.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mt-3 px-6 py-6 rounded-xl">
        <h2 class="mb-3 text-2xl">on Sale</h2>
        <div class="grid grid-cols-5 gap-3 grid-parent">
            {% for product in products %}
                <div class="grid-item">
                    <a href="{% url 'product:detail' product.id %}">
                        <div class="w-full overflow-hidden rounded-t-lg bg-gray-200">
                            <img src="{{ product.image.url }}" class="rounded-t-xl h-full w-full object-cover object-center">
                        </div>

                        <div class="px-4 rounded-b-xl">
                            <span class="product-name mt-2 font-semibold">{{ product.name }}</span>
                            <p class="mt-4 mb-4 text-xl font-medium text-nushoptertiary">${{ product.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mt-3 px-6 py-6 rounded-xl">
        <h2 class="mb-3 text-2xl">Trending</h2>
        <div class="grid grid-cols-5 gap-3 grid-parent">
            {% for product in products %}
                <div class="grid-item">
                    <a href="{% url 'product:detail' product.id %}">
                        <div class="w-full overflow-hidden rounded-t-lg bg-gray-200">
                            <img src="{{ product.image.url }}" class="rounded-t-xl h-full w-full object-cover object-center">
                        </div>

                        <div class="px-4 rounded-b-xl">
                            <span class="product-name mt-2 font-semibold">{{ product.name }}</span>
                            <p class="mt-4 mb-4 text-xl font-medium text-nushoptertiary">${{ product.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}   
