{% load static %}
<!doctype html>
<html>  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static 'styles.css' %}"> 
    </head>
    <body class="bg-primary">
        <div align="center" class="mt-6">
            <img src="{% static 'logo.png' %}" alt="logo" width="380" >
        </div>
        
        <div class="w-1/3 mt-6 mx-auto p-6 bg-secondary rounded-xl">
    
            <form method="post" action=".">
                {% csrf_token %}
                
                <div class="mb-3 form-border">
                    {{ form.username }}
                </div>
    
                <div class="mb-3 form-border">
                    {{ form.password }}
                </div>
    
                {% comment %} Handle error {% endcomment %}
                {% if form.errors or form.non_field_errors %}
                    <div class="mb-3 p-6 bg-red-100 rounded-xl">
                        {% for field in form %}
                            {{ field.errors }}
                        {% endfor %}
                        
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <div class="center">
                    <button class="bt-primary text-3xl text-center rounded-3xl text-white">Login</button>
                </div>
                <div class="center">
                    <p>If you do not have an account:</p>
                </div>
                
                <div class="center">
                    <button class="bt-secondary text-3xl text-center rounded-3xl">Sign Up here</button>
                </div>
                
            </form>
        </div>
    </body>
</html>