{% load static %}
<!doctype html>
<html>  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static 'styles.css' %}"> 
        <title>Reset Password | NUShop</title>
    </head>
    <body class="bg-nushopprimary">
        <div align="center" class="mt-6">
            <a href="/">
                <img src="{% static 'yellow logo.png' %}" alt="logo" width="380">
            </a>
        </div>
        
        <div class="w-1/3 mt-6 mx-auto p-6 bg-nushopsecondary rounded-xl">
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
            <form method="post" action=".">
                {% csrf_token %}
                
                <div class="mb-3 form-border">
                    <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" class="w-full py-4 px-6 rounded-xl" placeholder="Your Email" value="{{ form.email.value|default_if_none:'' }}">
                </div>
                
    
                {% comment %} Handle error {% endcomment %}
                {% if form.errors or form.non_field_errors %}
                    <div class="mb-3 p-6 bg-red-100 rounded-xl">
                        {% for field in form %}
                            {{ field.errors }}
                        {% endfor %}
                        
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <div class="center">
                    <button class="bt-nushopprimary text-3xl text-center rounded-3xl text-white">Send Email</button>
                </div>
            </form>
            
        </div>
    </body>
</html>