{% extends 'core/base.html' %}

{% load static %}

{% block title %}
    About Us
{% endblock %}  

{% block content %}

<h1 class="text-3xl text-center mt-3 mb-3">Privacy Policy</h1>

<ol>
    <li>
        <p>
            At NUShop, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, and safeguard the data you provide when using our ecommerce platform. By accessing or using NUShop, you agree to the practices described in this policy.
        </p>
    </li>
    <li>
        <p>
            <strong>1. Information We Collect:</strong>
        </p>
        <ol>
            <li>
                <p>
                    <strong>1.1 Personal Information:</strong> When you register an account with NUShop, we collect certain personal information such as your name, email address, and contact details. This information is necessary for creating and maintaining your account, enabling secure transactions, and providing you with a personalized experience on our platform.
                </p>
            </li>
            <li>
                <p>
                    <strong>1.2 Transaction Information:</strong> When you make a purchase or sell an item on NUShop, we collect transaction-related details, including payment information, shipping address, and order history. This information is essential for processing your orders, facilitating communication between buyers and sellers, and ensuring a smooth transaction process.
                </p>
            </li>
            <li>
                <p>
                    <strong>1.3 Usage Data:</strong> We may collect non-personal information about your interactions with NUShop, including your browsing patterns, search queries, and device information. This data helps us improve our platform's functionality, enhance user experience, and optimize our services accordingly.
                </p>
            </li>
        </ol>
    </li>
    <li>
        <p>
            <strong>2. Use of Information:</strong>
        </p>
        <ol>
            <li>
                <p>
                    <strong>2.1 Personalization:</strong> We use the information you provide to personalize your experience on NUShop, such as tailoring product recommendations, promotional offers, and updates based on your interests and preferences.
                </p>
            </li>
            <li>
                <p>
                    <strong>2.2 Communication:</strong> We may use your contact details to send you transactional emails, notifications, updates about NUShop features, and relevant marketing communications. You can manage your communication preferences by adjusting your account settings or opting out through the provided unsubscribe link in our emails.
                </p>
            </li>
            <li>
                <p>
                    <strong>2.3 Order Fulfillment:</strong> The personal and transactional information collected is used to process your orders, facilitate communication between buyers and sellers, arrange shipping, and provide customer support when necessary.
                </p>
            </li>
            <li>
                <p>
                    <strong>2.4 Statistical Analysis:</strong> We may analyze aggregated and anonymized data to gain insights into user behavior, market trends, and platform performance. These insights help us enhance our services, make data-driven decisions, and improve the overall NUShop experience.
                </p>
            </li>
        </ol>
    </li>
    <li>
        <p>
            <strong>3. Data Security:</strong>
        </p>
        <ol>
            <li>
                <p>
                    <strong>3.1 Confidentiality:</strong> We implement stringent security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. These measures include encryption, secure socket layer (SSL) technology, firewalls, regular system monitoring, and access controls.
                </p>
            </li>
            <li>
                <p>
                    <strong>3.2 Third-Party Services:</strong> We may engage trusted third-party service providers to assist in delivering certain aspects of NUShop's operations. These providers are contractually obligated to handle your data securely and are restricted from using your information for any other purposes.
                </p>
            </li>
        </ol>
    </li>
    <li>
        <p>
            <strong>4. Data Retention:</strong>
        </p>
        <p>
            We retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required or permitted by law. Once your data is no longer needed, we will securely delete or anonymize it to ensure your privacy.
        </p>
    </li>
    <li>
        <p>
            <strong>5. Third-Party Links:</strong>
        </p>
        <p>
            NUShop may contain links to third-party websites or services that operate independently. We have no control over the content, privacy practices, or security of these external sites. We encourage you to review the privacy policies of any third-party websites you visit through NUShop.
        </p>
    </li>
    <li>
        <p>
            <strong>6. Your Rights:</strong>
        </p>
        <p>
            You have the right to access, correct, update, or delete your personal information held by NUShop. You can exercise these rights by logging into your account and making the necessary changes or by contacting our support team. However, please note that certain data may be retained for legal or legitimate business purposes.
        </p>
    </li>
    <li>
        <p>
            <strong>7. Changes to the Privacy Policy:</strong>
        </p>
        <p>
            We reserve the right to modify or update this Privacy Policy at any time. Any revisions will be effective upon posting the updated version on NUShop. We encourage you to review this page periodically to stay informed about our privacy practices.
        </p>
    </li>
</ol>

{% endblock %}
