{% extends 'core/base.html' %}

{% load static %}

{% block title %}
    Dashboard
{% endblock %}  

{% block content %}
    <h1 class="my-3 text-3xl cinzel text-nushopprimary text-center">Dashboard</h1>
    <div class="mt-6 px-3 py-6 border-nushopprimary-3 rounded-xl">
        <div class="grid grid-cols-7">
            <div class="w-full col-span-1 overflow-hidden center row-span-2">
                {% if user.image %}
                <img src="{{ user.image.url }}" alt="User Image" class="pfp">
                {% else %}
                <img src="{% static 'default.png' %}" class="pfp">
                {% endif %}
            </div>

            <div class="col-span-2">
                <p class="text-3xl font-semibold">{{ user.name }}</p>
                <p class="text-xl font-semibold text-nushopprimary">{{ user.role }}</p>
            </div>

            <div class="col-span-1">
                <p class="text-2xl font-semibold">Listings: </p>
            </div>

            <div class="col-span-1">
                <p class="text-2xl font-semibold text-right">{{ products.count }}</p>
            </div>

            <div class="col-span-2">
                <a href="{% url 'dashboard:view-profile' user.username %}" class="center">
                    <button class="text-xl bt-nushoptertiary-2 rounded-xl text-center w-2/3">View Profile</button>
                </a>
            </div>

            <div class="col-span-2">
                {% if user.bio %}
                <p class="text-xl font-semibold text-gray-500">{{ user.bio }}</p>
                {% else %}
                <p class="text-xl font-semibold text-gray-500">No bio yet...</p>
                {% endif %}
            </div>
            
            <div class="col-span-1">
                <p class="text-2xl font-semibold">Followers: </p>
            </div>

            <div class="col-span-1">
                <p class="text-2xl font-semibold text-right">{{ user.followers.count }}</p>
            </div>

            <div class="col-span-2">
                <form method="post" action="{% url 'core:logout' %}" class="center">
                    {% csrf_token %}
                    <button type="submit" class="text-xl bt-nushoptertiary-2 rounded-xl text-center w-2/3">Log Out</button>
                </form>
            </div>

        </div>
    </div>

    <div class="mt-6 px-6 py-6">
        <div class="grid grid-cols-2">
            <div class="col-span-1">
                <a href="{% url 'dashboard:my-purchases' %}">
                    <button class="text-xl bt-nushopprimary rounded-xl text-center">My Purchases</button>
                </a>
            </div>
            <div class="col-span-1">
                <a href="{% url 'dashboard:my-sales' %}">
                    <button class="text-xl bt-nushopprimary rounded-xl text-center">My Sales</button>
                </a>
            </div>
        </div>
    </div>

    <div class="mt-6 px-6 py-6">
        <div class="grid grid-cols-5">
            <div class="col-span-3">
                <p class="mb-12 text-3xl font-semibold">NUShop Wallet</p>
            </div>
            <div class="col-span-1">
                <a href="#">
                    <button class="text-xl bt-nushopsecondary rounded-xl text-center">Top Up</button>
                </a>
            </div>
            <div class="col-span-1">
                <a href="#">
                    <button class="text-xl bt-nushopsecondary rounded-xl text-center">Withdraw</button>
                </a>
            </div>
            <div class="col-span-5">
                <p class="mb-12 text-2xl">Balance: </p>
            </div>
        </div>
    </div>


    <div class="mt-6 px-6 py-6">
        <div class="grid grid-cols-5">
            <div class="col-span-4">
                <p class="mb-12 text-3xl font-semibold">Listings</p>
            </div>
            <div class="col-span-1">
                <a href="{% url 'product:new' %}">
                    <button class="bt-nushoptertiary-2 text-xl rounded-xl">Add Product</button>
                </a>
            </div>
        </div>
        <div class="grid grid-cols-5 gap-4 grid-parent">
            {% for product in products %}

                <div class="col">
                    <div class="card rounded-xl border-0">
                        <a href="{% url 'product:detail' product.id %}">
                            <div class="product-pic">
                                <img src="{{ product.thumbnail.url }}" class="rounded-t-xl h-full w-full object-cover object-center">
                            </div>
                
                            <div class="px-4 product-desc rounded-b-xl bg-nushopsecondary">
                                <span class="product-name mt-2 font-semibold card-title">{{ product.name }}</span>
                                <p class="mt-4 mb-4 text-xl font-medium card-text text-nushoptertiary">${{ product.price|floatformat:2 }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
        

{% endblock %}   