{% extends 'core/base.html' %}

{% load static %}

{% block title %}
    Dashboard
{% endblock %}  

{% block content %}
    <div class="mt-6 px-3 py-6 border-nushopprimary rounded-xl">
        <div class="grid grid-cols-7">
            <div class="w-full col-span-1 overflow-hidden center">
                <img src="{% static 'green logo.png' %}" class="pfp">
            </div>

            <div class="col-span-2">
                <ul>
                    <li class="text-lg font-semibold ml-12 mb-2">NUShop Admin</li>
                    <li class="text-lg font-semibold ml-12 mb-2">(Student Organisation)</li>
                    <li class="center">
                        <a href="#" class="bt-nushoptertiary text-xl text-center rounded-xl">View Profile</a>
                    </li>
                </ul>
            </div>

            <div class="col-span-1">
                <ul>
                    <li class="text-xl font-semibold ml-12 mb-12 mt-4">Listings</li>
                    <li class="text-xl font-semibold ml-12 mb-4 mt-10">Followers</li>
                </ul>
            </div>

            <div class="col-span-1">
                <ul>
                    <li class="text-xl font-semibold mr-12 mb-12 mt-4 text-right">{{ products.count }}</li>
                    <li class="text-xl font-semibold mr-12 mb-4 mt-10 text-right">555</li>
                </ul>
            </div>

            <div class="col-span-2">
                <ul>
                    <li class="center">
                        <a href="#" class="py-2 px-2 w-4/5 bt-account text-xl text-center rounded-xl mt-1 mb-6">My Purchases</a>
                    </li>
                    <li class="center">
                        <a href="#" class="py-2 px-2 w-4/5 bt-account text-xl text-center rounded-xl">My Sales</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mt-6 px-6 py-12 rounded-xl">
        <div class="grid grid-cols-2">
            <h2 class="mb-12 text-2xl">Dashboard</h2>
            <div class="space-x-6 bt-right">
                <a href="{% url 'product:new' %}">
                    <button class="py-3 px-8 bt-account text-white text-xl rounded-xl">Add Product</button>
                </a>
            </div>
        </div>
        <div class="grid grid-cols-5 gap-3 grid-parent">
            {% for product in products %}
                <div class="grid-item">
                    <a href="{% url 'product:detail' product.id %}">
                        <div class="w-full overflow-hidden rounded-t-lg bg-gray-200">
                            <img src="{{ product.image.url }}" class="rounded-t-xl h-full w-full object-cover object-center">
                        </div>

                        <div class="px-4 rounded-b-xl">
                            <span class="product-name mt-2 font-semibold">{{ product.name }}</span>
                            <p class="mt-4 mb-4 text-xl font-medium text-nushoptertiary">${{ product.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}   