{% extends 'core/base.html' %}

{% block title %}My Sales{% endblock %}

{% block content %}
    <div class="grid grid-cols-5 gap-4">
        <div class="col-span-1 vl">
            <form method="get" action="{% url 'dashboard:my-sales' %}" class="pt-4 pr-2">
                <input name="query" class="w-full py-3 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Search">

                <button class="mt-2 text-xl bg-nushopprimary bt-nushopprimary text-white rounded-xl text-center">Search</button>
            </form> 

            <hr class="my-6">

            <p class="text-sm font-semibold">Status</p>

            <ul>
                {% for status in orderstatuses %}
                    <li class="py-2 px-2 text-sm rounded-xl{% if status.id == orderstatus_id %} bg-primary-light {% endif %}">
                        <a href="{% url 'dashboard:my-sales' %}?query={{ query }}&orderstatus={{ status.id }}">{{ status.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <ul class="pr-2">
                <li><a href="{% url 'dashboard:my-sales' %}" class="mt-2 inline-block bt-nushopsecondary text-xl rounded-xl text-center">Clear Filter</a>            
        </div>

        <div class="col-span-4 pt-4 pl-2">
            <h1 class="mb-4 text-3xl cinzel text-nushopprimary">
                {% if query %}
                    {% if orderstatus_id %}
                        {{ query }} in {{ orderstatus_name }}
                    {% else %}
                        {{ query }}
                    {% endif %}
                {% elif orderstatus_id %}
                    {{ orderstatus_name }}
                {% else %}
                    My Sales
                {% endif %}
            </h1>
            <div class="list">
                {% for product in products %}
                    <div class="p-3 bg-primary-light rounded-xl mb-3 mt-3">
                        <div class="grid grid-cols-5 gap-2">
                            <div class="col-span-4 text-2xl">
                                <h1>{{ product.buyer.username }}</h1>
                            </div>
                            <div class="col-span-1">
                                {% if product.buyer %}
                                <a href="{% url 'dashboard:view-seller' product.buyer.username %}">
                                    <button class="mt-2 text-xl bt-nushoptertiary-2 rounded-xl text-center">View Buyer</button>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <a href="{% url 'checkout:order-details' product.id %}">
                            <div class="grid grid-cols-5 gap-2">    
                                <div class="col-span-1">
                                    <img src="{{ product.thumbnail.url }}" class="rounded-xl img-size">
                                </div>
                                <div class="col-span-4">
                                    <h2 class="text-3xl text-black">{{ product.name }}</h2>
                                    <div class="text-black text-xl">
                                        {% if product.variation %}
                                        <p>{{ product.variation }}</p>
                                        {% endif %}
                                        <p>Delivery Method:</p>
                                        <p>Price: $ {{ product.price|floatformat:2 }}</p>
                                        <p>Quantity: {{ product.quantity }}</p>
                                        <p>Status: {{ product.seller_status }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="grid grid-cols-5 gap-2"> 
                            <div class="col-span-3"></div>
                                <div class="col-span-1">
                                    {% if product.seller_status.name == 'To Ship' or product.seller_status.name == 'Shipped' %}
                                        <a href="{% url 'checkout:update-status' product.id %}">
                                            <button class="mt-2 text-xl bt-nushoptertiary-2 rounded-xl text-center">Update Status</button>
                                        </a>
                                    {% elif product.seller_status.name == 'Completed' %}
                                        <a href="#">
                                            <button class="mt-2 text-xl bt-nushoptertiary-2 rounded-xl text-center">Check Review</button>
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="row-span-1 col-span-1">
                                    <a href="{% url 'chat:order' product.id %}">
                                        <button class="mt-2 text-xl bt-nushoptertiary-1 rounded-xl text-center">Chat With Buyer</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}