{% extends 'core/base.html' %}

{% block title %}My Sales{% endblock %}

{% block content %}
    <div class="grid grid-cols-4 gap-4">
        <div class="col-span-1 vl">
            <form method="get" action="{% url 'product:products' %}" class="pt-4 pr-2">
                <input name="query" class="w-full py-3 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Search">

                <button class="mt-2 text-xl bg-nushopprimary bt-nushopprimary text-white rounded-xl text-center">Search</button>
            </form> 

            <hr class="my-6">

            <p class="text-sm font-semibold">Status:</p>

            <ul>
                {% for stat in status %}
                    <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200{% endif %}">
                        <a href="{% url 'product:products' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <ul class="pr-2">
                <li><a href="{% url 'product:products' %}" class="mt-2 inline-block bt-nushopsecondary text-xl rounded-xl text-center">Clear Filter</a>            
        </div>

        <div class="col-span-3">
            <div class="list">
                {% for product in products %}
                    <div class="p-3 bg-primary-light rounded-xl mb-2">
                        <a href="{% url 'product:detail' product.id %}">
                            <div class="grid grid-cols-5 gap-2">
                                <div class="col-span-4 text-2xl">
                                    <h1>NUS Computing</h1>
                                </div>
                                <div class="col-span-1">
                                    <button class="mt-2 text-xl bt-nushoptertiary-2 rounded-xl text-center">View Buyer</button>
                                </div>
                                <div class="col-span-1">
                                    <img src="{{ product.image.url }}" class="rounded-xl img-size">
                                </div>
                                <div class="col-span-4">
                                    <h2 class="text-3xl text-black">{{ product.name }}</h2>
                                    <div class="text-black text-xl">
                                        <p>Variation:</p>
                                        <p>Delivery Method:</p>
                                        <p>Price: {{ product.price }}</p>
                                        <p>Quantity:</p>
                                        <p>Status:</p>
                                    </div>
                                </div>
                                <div class="col-span-3"></div>
                                <div class="col-span-1">
                                    <button class="mt-2 text-xl bt-nushoptertiary-2 rounded-xl text-center">Update Status</button>
                                </div>
                                <div class="row-span-1 col-span-1">
                                    <button class="mt-2 text-xl bt-nushoptertiary-1 rounded-xl text-center">Chat With Buyer</button>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}