{% extends 'core/base.html' %}

{% block title %}Payment{% endblock %}

{% block content %}
    <h1 class="text-center text-3xl m-3">Payment</h1>
    <div class="grid grid-cols-5 gap-4">     
        <div class="col-span-3">
            <h1 class="text-3xl m-3">Shipping Details</h1>
            <form method="post" action=".">
                {% csrf_token %}
                <div class="m-3 grid grid-cols-2">
                    <div class="mb-3 border-nushopprimary-1 col-span-1">
                        {{ form.firstname }}
                    </div>
                    <div class="mb-3 border-nushopprimary-1 col-span-1">
                        {{ form.lastname }}
                    </div>
                    <div class="mb-3 border-nushopprimary-1 col-span-2">
                        {{ form.address1 }}
                    </div>
                    <div class="mb-3 border-nushopprimary-1 col-span-2">
                        {{ form.address2 }}
                    </div>
                    <div class="mb-3 border-nushopprimary-1">
                        {{ form.blocknumber }}
                    </div>
                    <div class="mb-3 border-nushopprimary-1">
                        {{ form.zipcode }}
                    </div>
                    <div class="mb-3 border-nushopprimary-1">
                        {{ form.contactnumber }}
                    </div>
                    <div class="mb-3 border-nushopprimary-1">
                        {{ form.email }}
                    </div>
                </div>
                {% comment %} Handle error {% endcomment %}
                {% if form.errors or form.non_field_errors %}
                    <div class="mb-3 p-6 bg-red-100 rounded-xl">
                        {% for field in form %}
                            {{ field.errors }}
                        {% endfor %}
                        
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <button class="text-xl bt-nushopprimary rounded-xl w-1/6">Update</button>
            </form>
            <h1 class="text-3xl m-3">Payment Method</h1>
            <input type="checkbox" id="cash" name="" value="Cash">
            <label for="cash" class="text-2xl m-3"> Cash </label><br>
            <input type="checkbox" id="paynow" name="" value="PayNow">
            <label for="paynow" class="text-2xl m-3"> Paynow </label><br>
            <input type="checkbox" id="card" name="" value="Card">
            <label for="card" class="text-2xl m-3"> Card </label><br>
            <input type="submit" value="Complete Payment" class="text-2xl bt-nushopsecondary rounded-xl">
        </div>
        <div class="col-span-2">
            <h1 class="text-3xl m-3">Your Orders</h1>
            <h1 class="text-3xl m-3">Total: $</h1>
            <div class="list">
                {% for product in products %}
                    <div class="p-3 rounded-xl">
                        <a href="{% url 'product:detail' product.id %}">
                            <div class="grid grid-cols-5 gap-2">
                                <div class="col-span-5 text-2xl">
                                    <h1>NUS Computing</h1>
                                </div>
                                <div class="col-span-1">
                                    <img src="{{ product.image.url }}" class="rounded-xl img-size">
                                </div>
                                <div class="col-span-4">
                                    <h2 class="text-2xl text-black">{{ product.name }}</h2>
                                    <p class="text-black text-xl">Variation:</p>
                                    <p class="text-xl">Quantity:</p>
                                    <p class="text-xl">Subtotal: $ {{ product.price }}</p>
                                </div>
                        
                                
                                
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}